<headnavbar> Loading... </headnavbar>
<homecarousel> Loading... </homecarousel>


<div class="featuredcolorarticles">
    <div *ngFor="let article of articles">
        <homeproductcard class="fca" image={{article.image}} caption={{article.caption}}> 
            Loading... </homeproductcard>
    </div>
</div>
<bannercard class="homebanner" image="./assets/pantoneconnect.png"> Loading... </bannercard>
<bannercard class="homebanner" image="./assets/veryperi.png"> Loading... </bannercard>
<bannercard class="homebanner" image="./assets/tradeintradeup.png"> Loading... </bannercard>

<footnavbar> Loading... </footnavbar>

