<p *ngIf="myInfo == undefined"> Failed fetching user info</p>
<div *ngIf="myInfo != undefined">
    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-between">
            <div class="flex-column">
                User: {{myInfo.FirstName}} {{myInfo.LastName}}
            </div>
            <div class="flex-column">
                Mix ID: {{myInfo.MixID}}
            </div>
            <div class="flex-column">
                Github: {{myInfo.Github}}
            </div>
        </div>
    </div>
</div>